.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: gray;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.top-bar a {
    color: #ffffff;
    text-decoration: none;
}
.list {
    margin-top: 65px;
    margin-left: -25px;
    line-height: 40px;
    list-style-type: none;
}
.students {
    margin-top: -135px;
    margin-left: 250px;
    font-size: 30px;
    text-align: left;
    }
table{
    width: 70%;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 100px;
    border-collapse: collapse;
    
}
table, th, td, thead{
height: 50px;
border: 1px solid black;
}
thead th{
font-weight: normal;
font-size: 10px;
}
td{
text-align: center;
font-weight: bold;
}
.status {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    border: none;
}

.status:checked {
border-radius: 50%;
background-color: green;
}
.table-button {
background-size: auto 70%;
background-repeat: no-repeat;
background-position: center;
background-color: white;
width: 23px;
height: 23px;
}
p button{
width: 30px;
height: 30px;
background-color: #ffffff;
}
button img {
vertical-align: middle;
}
.dropbtn {
background-color: gray;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.ava{
height: 25px;
width: 25px;
border-radius: 50%;
}
.circle{
background-color: red;
width: 5px;
height: 5px;
position: absolute;
top: 1px;
right: 5px;
animation-name: kadry;
animation-iteration-count: infinite;
animation-duration: 1.5s;
border-radius: 50%;
}
@keyframes kadry{
0%{
transform:scale(1);
}
50%{
transform:scale(2);
}
100%{
transform:scale(1);
}
}